/* 浏览器重置样式1*/

* {
    padding: 0;
    margin: 0;
}

em,
i {
    font-style: normal;
}

img {
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #666;
}

li {
    list-style: none;
}

button,
input {
    outline: none;
}

body {
    background-color: #fff;
    color: #999;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "宋体", Arial, Tahoma, Helvetica, Geneva, sans-serif;
}