    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        height: 900px;
        max-width: 540px;
        min-width: 320px;
        margin: 0 auto;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        background-color: #fafafc;
        box-shadow: 0 0 6px rgba(0, 0, 0, .08);
    }
    
    body,
    html {
        font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    div {
        box-sizing: border-box;
    }
    /* 搜索 */
    
    .search {
        position: fixed;
        display: flex;
        height: 44px;
        max-width: 540px;
        min-width: 320px;
        width: 100%;
        top: 0;
        padding-left: 12px;
        z-index: 99;
    }
    
    .search .search_input {
        position: relative;
        flex: 1;
        margin: 8px 0;
        padding-left: 40px;
        height: 28px;
        line-height: 28px;
        color: #666;
        /* font-size: 14px; */
        background-color: #fff;
        border-radius: 20px;
    }
    
    .search .search_input::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 15px;
        width: 18px;
        height: 18px;
        background: url(../imgs/home-sprite.png) 0 0;
        background-size: 21px auto;
    }
    
    .search .user {
        width: 51px;
        height: 44px;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    
    .search .user::before {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        background: url(../imgs/home-sprite.png) 0 -35px;
        background-size: 21px auto;
        margin: 4px auto -1px;
    }
    /* 焦点图 */
    
    .focus {
        position: relative;
        margin-bottom: -95px;
    }
    
    .focus img {
        width: 100%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        transform: translate(0, -50px);
        /* z-index: 10; */
    }
    /* 局部导航 */
    
    .local-nav {
        position: relative;
        display: flex;
        /* height: 74px; */
        box-sizing: border-box;
        margin: -20px 10px 10px;
        padding: 4px 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
        /* z-index: 11; */
    }
    
    .local-nav li {
        flex: 1;
    }
    
    .local-nav li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #222;
        font-size: 12px;
    }
    
    .local-nav li a span[class^="local-nav-icon"] {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../imgs/localnav_bg.png) 0 0;
        background-size: 40px auto;
        margin: 0 0 -4px;
    }
    
    .local-nav li a span.local-nav-icon2 {
        background-position: 0 -40px;
    }
    
    .local-nav li a span.local-nav-icon3 {
        background-position: 0 -80px;
    }
    
    .local-nav li a span.local-nav-icon4 {
        background-position: 0 -120px;
    }
    
    .local-nav li a span.local-nav-icon5 {
        background-position: 0 -160px;
    }
    /* 格子导航 */
    
    .grid-nav {
        margin: 0 10px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .grid-nav .grid-nav-common.grid-nav-hotel {
        background: linear-gradient(to right, #fa5956, #fb8650 54%);
    }
    
    .grid-nav .grid-nav-common {
        display: flex;
        /* color: #fff; */
        border-bottom: 1px solid #fff;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items {
        /* display: flex; */
        width: 23%;
        box-sizing: border-box;
        border-left: 1px solid #f2f2f2;
        padding: 22px 0;
        text-align: center;
        color: #fff;
        font-size: 13px;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items:first-child {
        padding-left: 20px;
        background-position: right bottom;
        width: 31%;
        text-align: left;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-hotel {
        background: url(../imgs/hotel.png) no-repeat;
        background-size: 73px auto;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-minsu {
        width: 23%;
        background: url(../imgs/hotel_inn.png) no-repeat;
        background-size: 37px auto;
        background-position: left bottom;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-jhj {
        flex: 1;
        color: #a05416;
        background: linear-gradient(to right, #ffbc49, #ffd252);
        padding: 0;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-jhj .jhj-bg {
        display: block;
        padding: 22px 0;
        background: url(../imgs/hot.png) no-repeat;
        background-position: right bottom;
        background-size: 100% auto;
        width: 100%;
    }
    
    .grid-nav .grid-nav-common.grid-nav-flight {
        background: linear-gradient(to right, #4b8fed, #53bced);
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-flight {
        background: url(../imgs/flight.png) no-repeat;
        background-size: 79px auto;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-train {
        background: url(../imgs/train.png) no-repeat;
        background-size: 37px auto;
        background-position: left bottom;
    }
    
    .grid-nav .grid-nav-common.grid-nav-travel {
        background: linear-gradient(to right, #34c2aa, #6cd557);
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-travel {
        background: url(../imgs/travel.png) no-repeat;
        background-size: 93px auto;
    }
    
    .grid-nav .grid-nav-common .grid-nav-items-Gtrain {
        background: url(../imgs/G_train.png) no-repeat;
        background-size: 61px auto;
        background-position: left bottom;
    }
    /* 子导航 */
    
    .subnav-entry {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 25px 10px;
    }
    
    .subnav-entry li {
        width: 20%;
    }
    
    .subnav-entry a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #222;
        font-size: 6px;
        text-align: center;
    }
    
    .subnav-entry span[class^="subnav-entry-icon"] {
        display: block;
        width: 28px;
        height: 28px;
        margin: 10px 0 2px;
        background: url(../imgs/subnav_bg.png) 0 0;
        background-size: 28px auto;
    }
    
    .subnav-entry span.subnav-entry-icon2 {
        background-position: 0 -28px;
    }
    
    .subnav-entry span.subnav-entry-icon3 {
        background-position: 0 -56px;
    }
    
    .subnav-entry span.subnav-entry-icon4 {
        background-position: 0 -84px;
    }
    
    .subnav-entry span.subnav-entry-icon5 {
        background-position: 0 -112px;
    }
    
    .subnav-entry span.subnav-entry-icon6 {
        background-position: 0 -140px;
    }
    
    .subnav-entry span.subnav-entry-icon7 {
        background-position: 0 -168px;
    }
    
    .subnav-entry span.subnav-entry-icon8 {
        background-position: 0 -194px;
    }
    
    .subnav-entry span.subnav-entry-icon9 {
        background-position: 0 -222px;
    }
    
    .subnav-entry span.subnav-entry-icon10 {
        background-position: 0 -250px;
    }
    /* 工具按钮 */
    
    .tool {
        display: flex;
        justify-content: center;
        padding: 10px 25px 10px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        background-color: #fff;
    }
    
    .tool li {
        flex: 1;
    }
    
    .tool li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #222;
        font-size: 8px;
    }
    
    .tool li a span[class^="tool-icon"] {
        width: 20px;
        height: 20px;
        background: url(../imgs/home-sprite.png) 0 -74px;
        background-size: 20px auto;
        margin: 0 0 2px;
    }
    /* 底部 */
    
    .language {
        width: 100%;
        text-align: center;
        color: #666;
        font-size: 10px;
        margin: 10px 0 6px;
    }
    
    .language .world {
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../imgs/global.png) 0 -160px;
        background-size: 30px auto;
    }
    
    .banquan {
        width: 100%;
        text-align: center;
        color: #999;
        font-size: 8px;
    }